.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 50px;
  z-index: 3;
  background-color: var(--primary);
  color: var(--white);
}

.footer-text {
  font-family: Inter;
  font-size: 10px;
  padding-left: 10px;
}
