html,
body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  --primary: rgb(29, 108, 145);
  --secondary: rgb(32, 166, 228);
  --white: #ffffff;
}
