html,
body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  --primary: rgb(34, 116, 165);
  --secondary: rgb(0, 165, 207);
  --white: rgb(255, 255, 255);
  --background: rgb(0, 0, 0);
}
