html,
body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

/* Navbar css section */
.nav {
  height: auto;
  background-color: rgb(14, 13, 13);
}

.nav-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: Inter;
  color: whitesmoke;
  padding: 0px;
  list-style-type: none;
}

.home-link {
  margin-right: auto;
}

.nav-links > li {
  padding: 20px;
}

a {
  padding: 5px;
  border-radius: 5px;
}

a:visited {
  color: white;
}

a:link {
  font-size: 1.8em;
  color: white;
  text-decoration: none;
}
a:hover {
  background-color: rgb(53, 55, 55);
}

/* User styling css */
.user {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  width: 200px;
  margin: auto;
  gap: 10px 0px;
}

button {
  padding: 0px;
  border: 2px;
  border-radius: 5px;
}

.user-link {
  display: block;
  background-color: rgb(102, 99, 99);
}

/* className='user-form */
.user-form {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  width: 200px;
  margin: auto;
  gap: 10px 0px;
}

.submit-button {
  background-color: rgb(99, 97, 97);
  width: 170.4px;
  margin-top: 10px;
  padding: 5px;
}
