.nav {
  height: auto;
  /* background-color: var(--primary); */
  background-color: black;
}

.nav-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: Inter;
  color: whitesmoke;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.home-link {
  margin-right: auto;
}

.nav-links > li {
  padding: 20px;
}

a.ex1 {
  padding: 5px;
  border-radius: 10px;
}

a.ex1:visited {
  color: white;
}

a.ex1:link {
  font-size: 1em;
  color: white;
  text-decoration: none;
}
a.ex1:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: var(--secondary);
}

button.nav-button {
  font-family: Inter;
  padding: 5px;
  border: none;
  background-color: var(--primary);
  color: #ffffff;
  border-radius: 10px;
}

button.nav-button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: var(--secondary);
}