.pop-up {
  position: absolute;
  overflow-y: visible;
  background-color: var(--white);
  width: 200px;
  height: 100px;
  border-radius: 8px;
  z-index: 2;
  left: 20px;
  margin-top: 10px;
  background: #1f1f1f;
}

.pop-up::after {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #1f1f1f;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  content: '';
  transform: rotate(45deg);
  margin-bottom: -11px;
  background-color: #1f1f1f;
}

.button-pop {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 2px 5px;
  border: 0.1px solid #cacaa7;
  border-radius: 8px;
}

.button-pop:hover {
  background: #cfcf8c;
}

.pop-upText {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  margin-left: 10px;
  font-family: Inter;
  color: #cacaa7;
}

/* Post pop up css section  */
.post-pop-up {
  position: absolute;
  overflow-y: visible;
  background-color: var(--white);
  width: 210px;
  height: 100px;
  margin-top: 15px;
  left: 20px;
  border: 2px solid red;
  border-radius: 8px;
  z-index: 2;
}

.post-pop-up::after {
  position: absolute;
  width: 20px;
  height: 20px;
  border-top: 2px solid red;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid red;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  content: '';
  transform: rotate(45deg);
  margin-bottom: -10px;
  background-color: var(--white);
}

.post-button-pop {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 2px 5px;
  color: red;
  border: 0.1px solid red;
  border-radius: 8px;
}

.post-pop-upText {
  text-align: center;
  padding-top: 35px;
  font-family: Inter;
  font-weight: bold;
}

/* Login pop up css section  */
.login-pop-up {
  position: absolute;
  overflow-y: visible;
  background-color: var(--white);
  width: 191px;
  height: 100px;
  top: 220px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 8px;
  z-index: 2;
}

.login-pop-up::after {
  position: absolute;
  width: 20px;
  height: 20px;
  border-top: 2px solid rgb(0, 0, 0);
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid rgb(0, 0, 0);
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  content: '';
  transform: rotate(45deg);
  margin-bottom: -10px;
  background-color: var(--white);
}

.login-button-pop {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 2px 5px;
  color: rgb(0, 0, 0);
  background-color: white;
  border: 0.1px solid rgb(0, 0, 0);
  border-radius: 8px;
}
.login-button-pop:hover {
  color: white;
  background-color: black;
}

.login-pop-upText {
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0);
  margin-top: 35px;
  font-family: Inter;
  font-weight: bold;
}

/* Login pop up css section  */
.signup-pop-up {
  position: absolute;

  overflow-y: visible;
  background-color: var(--white);
  width: 191px;
  height: 100px;
  bottom: -75px;
  border: 2px solid black;
  border-radius: 8px;
  z-index: 2;
}

.signup-pop-up::after {
  position: absolute;
  width: 20px;
  height: 20px;
  border-top: 2px solid black;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid black;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  content: '';
  transform: rotate(45deg);
  margin-bottom: -10px;
  background-color: var(--white);
}

.signup-button-pop {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 2px 5px;
  color: black;
  background-color: white;
  border: 0.1px solid black;
  border-radius: 8px;
}
.signup-button-pop:hover {
  background-color: black;
  color: white;
}
.signup-pop-upText {
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0);
  margin-top: 35px;
  font-family: Inter;
  font-weight: bold;
}
