@font-face {
  font-family: 'apple';
  src: url('../../fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
}

body {
  font-family: 'apple';
  color: #232323;
}

.featuredPosts {
  background-color: rgb(196, 15, 15);
  display: flex;
  justify-content: space-evenly;
}

.feature {
  border-radius: 30px;
  background-color: var(--background);
  width: 600px;
  height: 400px;
  margin: 20px;
}

.postContainer {
  background-color: var(--background);
  height: 100%;
  display: grid;
  padding: 30px;
  gap: 0px;
  padding-bottom: 300px;
}

/*.card {
  background-color: var(--background);
  max-width: 400px;
  max-height: 300px;
  border-radius: 10px;
}

.card-content {
  padding: 10px 30px;
}

.card-category {
  display: inline-block;
  padding-top: 20px;
  padding-right: 10px;
  text-transform: uppercase;
  color: rgb(218, 32, 100);
  font-family: 'apple';
  font-weight: 600;
  font-size: 0.6875rem;
}

.card-date {
  display: inline-block;
  text-transform: uppercase;
  color: gray;
  font-family: 'apple';
  font-weight: 600;
  font-size: 0.6875rem;
.card {
  background-color: var(--background);
  max-width: 400px;
  max-height: 300px;
  border-radius: 10px;
}

.card-content {
  padding: 10px 30px;
}

.card-category {
  display: inline-block;
  padding-top: 20px;
  padding-right: 10px;
  text-transform: uppercase;
  color: rgb(218, 32, 100);
  font-family: 'apple';
  font-weight: 600;
  font-size: 0.6875rem;
}

.card-date {
  display: inline-block;
  text-transform: uppercase;
  color: gray;
  font-family: 'apple';
  font-weight: 600;
  font-size: 0.6875rem;
}

.card-title {
  font-size: 20px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid #cdcdcd;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-stats {
  display: grid;
  grid-auto-flow: column;
  column-gap: 2rem;
  margin-top: 2px;
  font-family: 'apple';
  font-weight: 600;
  font-size: 0.6875rem;
  text-transform: uppercase;
  color: gray;
  margin-top: 10px;
} */

.authorBtn {
  color: gray;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  width: fit-content;
}

.authorBtn:hover {
  color: white;
}

.repliesBtn {
  color: gray;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  width: fit-content;
}

.repliesBtn:hover {
  color: white;
}

.saveBtn {
  color: gray;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  width: fit-content;
}

.saveBtn:hover {
  color: white;
}

/* -------------------------------------*/

.post {
  background-color: var(--background);
  font-family: 'apple';
  width: 100%;
  max-height: 200px;
  overflow: hidden;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.postContent {
  padding: 10px 30px;
}

.postCategory {
  display: inline-block;
  padding-top: 20px;
  padding-right: 10px;
  text-transform: uppercase;
  color: rgb(241, 80, 21);
  font-family: 'apple';
  font-weight: 600;
  font-size: 0.6875rem;
}

.postDate {
  display: inline-block;
  text-transform: uppercase;
  color: gray;
  font-family: 'apple';
  font-weight: 600;
  font-size: 0.6875rem;
}

.postTitle {
  font-size: 20px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  padding-top: 5px;
  padding-bottom: 10px;
}

.postBody {
  margin-top: 2px;
  color: gray;
}

.postBodyContent {
  color: gray;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 16px;
}

.postStats {
  display: grid;
  grid-auto-flow: column;
  margin-top: 10px;
  font-family: 'apple';
  font-weight: 600;
  font-size: 0.6875rem;
  text-transform: uppercase;
  color: gray;
}
