@font-face {
    font-family: 'apple';
    src: url('../../fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
}

@font-face {
    font-family: 'apple-bold';
    src: url('../../fonts/SFPRODISPLAYBOLD.OTF') format('opentype');
}

.dashboardContainer {
    font-size: 100%;
    font-size: 16px;
    line-height: 1.5;
    padding: 50px;
    background-color: #000000;
}

.postContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
    gap: 30px;
}

.post {
    border-radius: 10px;
    background-color: rgb(45, 45, 45);
    overflow: hidden;
    padding-top: 10px;
    padding-left: 10px;
}

.postHeader {
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'apple';
}

.postHeader .postCategory {
    
    color: rgb(233, 112, 75);
    margin-right: 10px;
}

.postHeader .postDate {
    color: rgb(172, 172, 172);
}

.postBody {
    font-family: 'apple';
    color: white;
    font-size: 20px;
    font-weight: bold;
}