@font-face {
    font-family: 'apple';
    src: url('../../fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
}

.secondPostModal, .secondPostModalOverlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.secondPostModalOverlay {
    background-color: rgba(57, 57, 57, 0.8);
}

.secondPostModalContent {
    position: absolute;
    height: auto;
    max-height: -webkit-fill-available;
    overflow-y: scroll;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 40px;
}

h1 {
    color: black;
}

.commentsSeparator {
    border-color: 1px solid black;
}
