@font-face {
    font-family: 'apple';
    src: url('../../fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
}

.createPostModal, .createPostModalOverlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.createPostModalOverlay {
    background-color: rgba(57, 57, 57, 0.8);
}

.createPostModalForm {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 40px;
}

label {
    display: block;
}